/* styles.css */

/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and background */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* White background */
    color: #000000; /* Black text */
}

/* Header styles */
header {
    background-color: #009246; /* Green */
    padding: 10px 0;
    text-align: center;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 200px;
    margin-bottom: 10px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #FFFFFF; /* White background */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000000; /* Black text */
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #CE2B37; /* Red on hover */
    color: #FFFFFF; /* White text on hover */
}

/* Main section styles */
.section {
    padding: 20px;
    text-align: justify; /* Justify text */
}

/* Container inside section */
.section .container {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

/* Welcome section */
#welcome {
    background-color: #CE2B37; /* Red */
    color: #FFFFFF; /* White text */
    padding: 50px 0;
    text-align: center;
}

#welcome h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#welcome p {
    font-size: 1.2em;
}

/* Footer styles */
footer {
    background-color: #CE2B37; /* Red */
    color: #FFFFFF; /* White text */
    text-align: center;
    padding: 10px 0;
}
